/* Sticky footer styles
-------------------------------------------------- */
html {
    height: 100%;
    font-family: calibri;
    font-size: 1.4em;

  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    background-color: #000012;
    color: #dadada;
    
  }

  .content {
    max-width: 960px;
    margin: auto;
    text-align: center;
  }

  link {
    color: #4d94e5;
  }

  header {
    padding: 1em 0em 1em 0em;
    text-align: center;
  }

  main {
    text-align: center;
    align-items: center;
    background-color: #000012;
  }

  footer {
    position: absolute;
    bottom: 0;
    min-width: 50%;
    height: 60px; /* Set the fixed height of the footer here */

  }

  .flexfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
    width: 100%;
  }

  .leftfooter {
   align-self: flex-start;
   text-align: left;
   background-color: red;
  }
  .rightfooter {
    align-self: flex-end;
    text-align: right;
    background-color: green;
  }